<div class="container">
  <button class="btn btn-outline-secondary reloadTree">
    <i class="bi bi-bootstrap-reboot" (click)="reloadTree()"></i>
  </button>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <mat-label class="d-flex" (change)="todoLeafItemSelectionToggle(node)">
        : {{node.item}}
      </mat-label>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <mat-label (change)="todoItemSelectionToggle(node)">{{node.item}} {{node.item.NodeId}} </mat-label>
    </mat-tree-node>

  </mat-tree>
</div>