section {
  h2 {
    padding: 1em;
  }

  .channelList {
    .channel {
      padding: 0.7em 1em;
      p {
        display: inline-block;
        margin: 0;
      }
      span {
        float: right;
        //   visibility: hidden;
        border: 1px solid transparent;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        padding: 0 0.35em;
        &:hover {
          cursor: pointer;
          background: lightgrey;
        }
      }

      &-selected {
        background-color: whitesmoke;
      }

      &:hover {
        background-color: rgb(238, 237, 237);
        span {
          visibility: visible;
        }
      }

      &:nth-child(1) {
        span {
          visibility: hidden;
        }
      }
    }
  }

  .newChannel {
    padding: 0 1em 1em;
    margin-top: 0.7em;

    span {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}
