<section class="container">
    <div class="container-chart">
        <mat-card>
            <mat-card-title>
                <p class="d-inline">
                    OPC data chart [{{channelSource}}]
                </p>
                <div class="settingsToggle">
                    <button class="btn btn-outline-secondary">
                        <i class="bi bi-gear"></i>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-subtitle>
                <p class="d-inline">
                    Realtime OPC data channels monitor
                </p>
                <div class="refresh-chart">
                    <button class="btn btn-outline-secondary reloadTree">
                        <i class="bi bi-bootstrap-reboot" (click)="refreshChart($event)"></i>
                    </button>
                </div>
            </mat-card-subtitle>
        </mat-card>
        <canvas id="myChart" chart></canvas>
    </div>



    <div class="container-details">
        <table>
            <tr>Add a new channel</tr>
            <tr>
                <td><input type="text" placeholder="Node Id" class="form-control" [(ngModel)]="newNode.nodeId" /></td>
                <td><input type="text" placeholder="Name" class="form-control" [(ngModel)]="newNode.name" /></td>
                <td><input type="number" placeholder="Range" class="form-control" [(ngModel)]="newNode.range" /></td>
                <td><input type="number" placeholder="MSecs" class="form-control col-md-3"
                        [(ngModel)]="newNode.mSecs" /></td>
                <td class="newNode"><button mat-raised-button color="primary" (click)="nodeMonitor()">Add</button></td>
            </tr>
            <br>
            <tr>
                <th>Node Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Range/MSecs</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of nodeArray" class="node">
                <td>{{item.nodeId}}</td>
                <td>{{item.name}}</td>
                <td class="node-value">{{getNodeValue(item.nodeId)}}</td>
                <td>{{item.range}}/{{item.mSecs}}</td>
                <td class="node-action">
                    <i (click)="hideNode($event, item.nodeId)" class="bi bi-eye h4 me-2"></i>
                    <i (click)="removeNode(item)" class="bi bi-trash h4"></i>
                </td>
            </tr>
        </table>
    </div>
</section>

<app-node-tree></app-node-tree>