<section class="container">
    <div class="container-chart">
        <mat-card>
            <mat-card-title>
                <p class="d-inline">
                    OPC data chart [{{sessionSource.name}}]
                </p>
                <div class="settingsToggle">
                    <!-- <button class="btn btn-outline-secondary">
                        <i class="bi bi-gear"></i>
                    </button> -->
                </div>
            </mat-card-title>
            <mat-card-subtitle>
                <p class="d-inline">
                    Realtime OPC data channels monitor
                </p>
                <div class="refresh-chart">
                    <!-- <button class="btn btn-outline-secondary reloadTree">
                        <i class="bi bi-bootstrap-reboot" (click)="refreshChart($event)"></i>
                    </button> -->
                    <div>
                        <a class="" href="/">
                            Browse values
                        </a>
                    </div>
                </div>
            </mat-card-subtitle>
        </mat-card>
        <canvas id="myChart" chart></canvas>
    </div>
</section>

<app-subscription> </app-subscription>
<app-node-tree></app-node-tree>