<section class="resize-handle" [hidden]="true">
    <h2>App settings</h2>
    <form [formGroup]="appSettingsForm">
        <div class="form-group">
            <input type="checkbox" class="form-check-input" formControlName="saveToAzure">
            <label for="SaveToAzure">Save to azure</label>
        </div>

        <div class="form-group">
            <input type="checkbox" class="form-check-input" formControlName="saveToDb">
            <label for="SaveToDb">Save to DB</label>
        </div>

        <div class="form-group">
            <label for="TargetTable">Target Table</label>
            <input type="text" class="form-control" formControlName="targetTable" placeholder="Target Table">
        </div>

        <div class="form-group">
            <input type="checkbox" class="form-check-input" formControlName="createFullTree">
            <label for="CreateFullTree">CreateFullTree</label>
        </div>

        <div class="form-group">
            <label for="OpcUrl">OpcUrl</label>
            <input type="url" class="form-control" formControlName="opcUrl" placeholder="OpcUrl">
        </div>

        <div class="form-group" formGroupName="signalR">
            <label for="SignalRHubUrl">SignalR Hub Url</label>
            <input type="url" class="form-control" formControlName="hubUrl" placeholder="SignalRHubUrl" readonly>
        </div>

        <div class="form-group">
            <label for="DbConnectionString">DbConnectionString</label>
            <input type="text" class="form-control" formControlName="dbConnectionString"
                placeholder="DbConnectionString" readonly>
        </div>

        <div class="form-group" formGroupName="azureEventHub">
            <label for="EndpointUrl">EndpointUrl</label>
            <input type="text" class="form-control" formControlName="endpointUrl" placeholder="EndpointUrl">

            <label for="AzureEventHub">HubName</label>

            <input type="text" class="form-control" formControlName="hubName" placeholder="HubName">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Advanced
            </button>

            <div class="form-group collapse" id="collapseExample">
                <div class="">

                    <label for="EventHubSender">EventHubSender</label>
                    <div class="form-group card card-body" formGroupName="eventHubSender">
                        <label for="PolicyName">PolicyName</label>
                        <input type="text" class="form-control" formControlName="policyName" placeholder="PolicyName">

                        <label for="PrimaryKey">PrimaryKey</label>
                        <input type="text" class="form-control" formControlName="primaryKey" placeholder="PrimaryKey">
                    </div>

                    <!-- <label for="EventHubConsumer">EventHubConsumer</label>
                    <div class="form-group card card-body" formGroupName="eventHubConsumer">
                        <label for="ConntainerName">ConntainerName</label>
                        <input type="text" class="form-control" formControlName="conntainerName"
                            placeholder="ConntainerName">

                        <label for="BlobConnString">BlobConnString</label>
                        <input type="text" class="form-control" formControlName="blobConnString"
                            placeholder="BlobConnString">

                        <label for="BlobConnConsumerGroupString">ConsumerGroup</label>
                        <input type="text" class="form-control" formControlName="consumerGroup"
                            placeholder="ConsumerGroup">

                        <label for="PolicyName">PolicyName</label>
                        <input type="text" class="form-control" formControlName="policyName" placeholder="PolicyName">

                        <label for="PrimaryKey">PrimaryKey</label>
                        <input type="text" class="form-control" formControlName="primaryKey" placeholder="PrimaryKey">
                    </div> -->
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary" (click)="saveSettings()">Submit</button>
    </form>
</section>