<div class="container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <p>
        {{node.item.nodeId }} | {{node.item.displayName}}
      </p>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <div class="mat-tree-node">
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.nodeId" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <a>
          {{node.item.nodeId }} | {{node.item.displayName}}
        </a>
        <i class="h4 me-2 bi bi-plus" (click)="populateNode(node.item)"></i>
      </div>
      <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate"
        class="example-tree-progress-bar"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
</div>